<nz-card
  [nzBordered]="true"
  [nzTitle]="vacancy.title"
  [nzExtra]="extraTemplate"
>
  <img
    style="width: 100%"
    alt="example"
    [src]="vacancy.companyLogo"
    class="vacancy__logo"
  />
  <p class="card__text-ellipses">{{ vacancy.description }}</p>
</nz-card>

<ng-template #extraTemplate>
  <div class="icons-list">
    <a [routerLink]="'/apply/' + vacancy.id">
      Apply
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon"
      >
        <path d="M9 18l6-6-6-6"></path>
      </svg>
    </a>
  </div>
</ng-template>
