<header>
  <div class="container">
    <div class="wrapper">
      <div class="logo">
        <a href="/">
          <nz-image-group>
            <img
              nz-image
              [nzDisablePreview]="true"
              width="200px"
              nzSrc="https://www.pasha-insurance.az/storage/app/media/Pasha%20Sigorta%20Logo%20long%20aze%20eng%202_20220315171728.png"
              alt="PashaLogo"
            />
          </nz-image-group>
        </a>
      </div>
      <nav class="navigation">
        <nz-anchor [nzDirection]="'horizontal'" nzLinkClass="custom-link-style">
          <nz-link nzHref="#" nzTitle="Companies"></nz-link>
          <nz-link nzHref="#" nzTitle="Careers"></nz-link>
          <nz-link nzHref="#" nzTitle="About Us"></nz-link>
        </nz-anchor>
      </nav>
    </div>
  </div>
</header>
