.unorderedList {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.footer_wrap {
  width: 1040px;
  margin: 50px auto;
  padding-left: 20px;
  padding-right: 20px;
}
