<div class="footer_wrap clear">
  <div class="footer_left">
    <p>© "PAŞA Sığorta" ASC 2024 - Bütün hüquqlar qorunur.</p>
    <ul class="unorderedList">
      <li>
        <a href="https://www.pasha-insurance.az/az/news" class="   ">
          Xəbərlər
        </a>
      </li>
      <li>
        <a href="https://www.pasha-insurance.az/az/offices"> Ofislərimiz </a>
      </li>

      <li>
        <a href="https://www.pasha-insurance.az/az/about-us/about-company">
          Haqqımızda
        </a>
      </li>

      <li>
        <a href="https://www.pasha-insurance.az/az/about-us/insurance-wordings">
          Sığorta qaydaları
        </a>
      </li>

      <li>
        <a href="/" target="_blank" class="jis"><span>Site by</span><u></u></a>
      </li>
      <li class="red_dot">
        <a
          href="https://www.red-dot.org/project/pasha-insurance-41171"
          target="_blank"
          >reddot award 2019 winner</a
        >
      </li>
    </ul>
  </div>
</div>
